<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de la Persona</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <h1>Datos de la Personas</h1>
    
    <a th:href="@{/}">Regresar</a>

    <br>
    <form th:action="@{/guardar}" method="POST" th:object="${persona}">

        <input type="hidden" name="idPeronsa" th:field="*{idPersona}">
    
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error del Nombre</span>
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" th:field="*{apellido}">
        
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error del Apellido</span>
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" th:field="*{email}">
        
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error del Email</span>
        <br>
        <label for="telefono">Telefono:</label>
        <input type="tel" name="telefono" th:field="*{telefono}">
        <br>
        <input type="submit" name="guardar" value="Guardar">
    
    </form>

</body>
</html>